#botao01 {
    border: 2px solid red;
    background-color: blue;
}

table,
tr,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    font-size: 1.2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}